body {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron-fluid {
    background: url("../images/citrus.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.border {
    border: 2px solid #dee2e6 !important;
}

.col-md-12 {
    padding: 0px;
}


.input-group-lg>.custom-select,
.input-group-lg>.form-control:not(textarea) {
    height: calc(2em + 1.5rem + 2px);
}

.input-group>.form-control:not(:last-child) {
    border-radius: 5rem;
}

h1 {
    color: white;
    margin-bottom: 1rem;
    font-family: 'Montserrat Subrayada', sans-serif;
}

#add-fruit {
    font-size: 1rem;
    padding: 1rem 2rem;
    margin: 0rem .25rem;
    border-radius: 2rem;
    text-align: center;
    color: black;
    font-weight: bolder;
}

.btn-warning {
    font-size: 1rem;
    font-weight: bolder;
    padding: 1rem 2rem;
    margin: .25rem;
    border-radius: 2rem;
    text-align: center;
}